{{ template "base" . }}

{{ define "title" }}
{{ index .StringData "title" }}
{{ end }}

{{ define "content" }}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>This is About Page</h1>
            <p>My name is: {{ index .StringData "name" }}</p>
        </div>
    </div>
</div>
{{ end }}