{{ template "base" . }}

{{ define "title"}}
Home
{{ end}}

{{ define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>This is Home Page</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus minus consectetur tempora
                nulla fugit
                nihil ipsa ratione adipisci exercitationem? Ad vitae asperiores similique sit dignissimos ducimus
                officiis
                quisquam totam consequatur.</p>

        </div>
    </div>
</div>
{{ end}}